<h1>New question</h1>

<%= form_for @question do |f| %>
  <%= f.label :inquiry %>
  <%= f.text_field :inquiry %>
  <%= f.label :user %>
  <%= f.text_field :user %>
  <%= f.label :date %>
  <%= f.date_field :date %>


  <%= f.submit %>
<% end %>
